h1{
  color:green;
}

.bg-red{
  background-color: red;
}
.bg-blue{
  background-color: blue;
}
.bg-green{
  background-color: green;
}

.color-green{
  color: green;
}
.color-red{
  color: red;
}
.color-blue{
  color: blue;
}
